/* :root {
    --svg__button__width: 15rem;
    --svg__button__height: 10rem;
    --button__border__width: 0.1rem;
    --button--svg__label__height: 4.6rem;
} */


.svg--bottle, 
.button--scent {
    border-top-width: var(--button__border__width);
    border-left-width: var(--button__border__width);
    border-bottom-width: var(--button__border__width);
    border-color: black;
    border-style: solid;
}

.button--scent {
    border-right-width: 0rem;
    color: black;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.button--scent:active,
.button--scent:focus,
.button--scent:hover {
    background-color: rgba(87, 69, 58, 0.7);
}

.button--scent:active #bottle__path,
.button--scent:focus #bottle__path,
.button--scent:hover #bottle__path {
    transform: rotateZ(20deg) translateX(0%) translateY(-3%);
}

svg.svg--bottle {
    display: flex;
    width: var(--svg__button__width);
    height: var(--svg__button__height);
    margin-top: 1rem;
    padding-top: 0.5rem;
    background-color: white;
    border-right-width: var(--button__border__width);
}

#bottle__path {
    stroke: black;
    stroke-width: 0.3rem;
    transform-origin: bottom center;
}

.button--svg__label {
    border: 1px solid black;
    height: var(--button--svg__label__height);
    width: var(--svg__button__width);
    margin-top: var(--space--xs);
    background-color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: var(--space--xs);
    padding-bottom: calc(var(--space--xs) / 2);
    /* text-shadow: 0px 0px 0.2rem black, -0.05rem -0.05rem 0.02rem; */
    transition-property: height;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.button--svg__label:hover {
    height: auto;
    min-height: var(--button--svg__label__height);
    overflow: visible;
    -webkit-line-clamp: 5;
}
