:root {
    --form-control__color: var(--color--secondary);
    --input__border: var(--color--primary);
    --select__border: var(--color--primary);
    --select--focus: var(--color--primary);
    --select__arrow: var(--select__border);
}

.form-control {
    font-family: var(--font-family--base);
    font-size: var(--font-size--base);
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.input {
    font-size: var(--font-size--base);
    font-size: max(var(--font-family--base), 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: var(--color--white);
    border-radius: 0.4rem;
}

.input:not(textarea) {
    line-height: 1;
    height: 4rem;
}

input[type="file"] {
    font-size: 0.9em;
    padding-top: var(--space--xs);
}

.input[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: var(--color--disabled);
}

.input[disabled] {
    --input-border: var(--color--disabled);
    background-color: #eee;
    cursor: not-allowed;
}

input[type="radio"],
input[type="checkbox"] {
    --webkit-appearance: none;
    appearance: none;
    background-color: var(--color--white);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control__color);
    background-color: CanvasText;
}

input[type="radio"]::before {
    border-radius: 50%;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: max(0.2rem, 0.15em) solid currentColor;
    outline-offset: max(0.2rem, 0.15em);
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
    --form-control__color: var(--color--disabled);
    color: var(--color--disabled);
    cursor: not-allowed;
}

.form-control + .form-control {
    margin-top: 1em;
}

select {
    appearance: none;
    background-color: rbga(0, 0, 0, 0);
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select__border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--color--white);
    background-image: linear-gradient(to top, #f9f9f9, var(--color--white) 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
  }

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select__arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select,  
.select::after {
    grid-area: select;
}  

select:focus + .focus {
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    right: -0.1rem;
    bottom: -0.1rem;
    border: 0.2rem solid var(--select--focus);
    border-radius: inherit;
}
