:root {
    --form-control__color: var(--color--primary);
}

.form-control {
    font-family: system-iu, sans-serif;
    font-size: var(--font-size--base);
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    --webkit-appearance: none;
    appearance: none;
    background-color: var(--color--white);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}