html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color--white);
    background-color: var(--background-color);
    font-size: var(--font-size--base);
}

h1 {
    font-size: var(--font-size--h1);
}

h2 {
    font-size: var(--font-size--h2);
}

h3 {
    font-size: var(--font-size--h3);
}

h4 {
    font-size: var(--font-size--h4);
}

h5 {
    font-size: var(--font-size--h5);
}

a {
    color: var(--color--secondary);
    padding-top: var(--space--s); 
    padding-bottom: var(--space--s);             
}


