:root {
    --color--white: white;
    --color--black: black;
    --hue--base: 265;
    --saturation--base: 48%;
    --lightness--base: 85%;
    --opacity--base: 1;
    --color--darken: 5%;
    --color--primary: hsla(var(--hue--base), var(--saturation--base), var(--lightness--base), var(--opacity--base));
    --color--primary--active: hsla(var(--hue--base), 
                                    var(--saturation--base), 
                                    calc(var(--lightness--base) - var(--color--darken)), 
                                    var(--opacity--base));
    --hue--secondary: 240;
    --saturation--secondary: 100%;
    --lightness--secondary: 17%;
    --color--secondary: hsla(var(--hue--secondary), var(--saturation--secondary), var(--lightness--secondary), var(--opacity--base));
    --color--secondary--active: hsla(var(--hue--secondary), 
                                var(--saturation--secondary), 
                                calc(var(--lightness--secondary) - var(--color--darken)), 
                                var(--opacity--base));
    --color--information: cornflowerblue;
    --color--success: green;
    --color--error: red; 
    --background-color: var(--color--primary);

    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 2rem;
    --space--l: 4rem;
    --space--xl: 8rem;

    --font-size--base: 1.6rem;
    --font-size--h1: 8rem;
    --font-size--h2: 4rem;
    --font-size--h3: 2rem;
    --font-size--h4: 1.5rem;
    --font-size--h5: 1rem;
}