:root {
    --color--white: white;
    --color--black: black;
    
    --hue--base: 265;
    --saturation--base: 100%;
    --lightness--base: 80%;
    --opacity--base: 1;
    --color--lighten: 5%;
    --color--primary: hsla(var(--hue--base), var(--saturation--base), var(--lightness--base), var(--opacity--base));
    --color--primary--active: hsla(var(--hue--base), 
                                    var(--saturation--base), 
                                    calc(var(--lightness--base) + var(--color--lighten)), 
                                    var(--opacity--base));

    --hue--secondary: 240;
    --saturation--secondary: 100%;
    --lightness--secondary: 15%;
    --color--secondary: hsla(var(--hue--secondary), var(--saturation--secondary), var(--lightness--secondary), var(--opacity--base));
    --color--secondary--active: hsla(var(--hue--secondary), 
                                var(--saturation--secondary), 
                                calc(var(--lightness--secondary) + var(--color--lighten)), 
                                var(--opacity--base));

    --hue--error: 360;
    --hue--success: 130;
    --hue--information: 230;
    --color--information: hsla(var(--hue--information), var(--saturation--base), var(--lightness--base), var(--opacity--base));;
    --color--success: hsla(var(--hue--success), var(--saturation--base), var(--lightness--base), var(--opacity--base));
    --color--error: hsla(var(--hue--error), var(--saturation--base), var(--lightness--base), var(--opacity--base)); 

    --background-color: var(--color--secondary);

    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 2rem;
    --space--l: 4rem;
    --space--xl: 8rem;

    /* 1.333 - perfect fourth scale */
    --font-size__ratio: 1.2;
    --font-size__ratio--desktop: 1.333;
    --font-size--base: 1.6rem;
    --font-size--h4: calc(var(--font-size--base) * var(--font-size__ratio));
    --font-size--h3: calc(var(-font-size--h4) * var(--font-size__ratio));
    --font-size--h2: calc(var(-font-size--h3) * var(--font-size__ratio));
    --font-size--h1: calc(var(-font-size--h2) * var(--font-size__ratio));
}

@media (min-width: 768px) {
    :root {
        --font-size__ratio: var(--font-size__ratio--desktop);
    }
}