:root {
    --color--primary: black;
    --color--secondary: hsla(265, 48%, 82%, 1);
    --color--active: var(--color--secondary);
    --color--information: cornflowerblue;
    --color--success: green;
    --color--error: red; 
    --background-color: var(----color--primary);

    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 2rem;
    --space--l: 4rem;
    --space--xl: 8rem;

    --font-size--base: 1.6rem;
    --font-size--h1: 8rem;
    --font-size--h2: 4rem;
    --font-size--h3: 2rem;
    --font-size--h4: 1.5rem;
    --font-size--h5: 1rem;
}