:root {
    --font-family--base: Courier;
    --color--white: white;
    --color--black: black;
    --color--transparent: rgba(0, 0, 0, 0);
    
    --hue--base: 255;
    --saturation--base: 100%;
    --lightness--base: 80%;
    --opacity--base: 1;
    --color--lighten: 5%;
    --color--darken: 10%;
    --color--primary: hsla(var(--hue--base), var(--saturation--base), var(--lightness--base), var(--opacity--base));
    --color--primary--active: hsla(var(--hue--base), 
                                    var(--saturation--base), 
                                    calc(var(--lightness--base) + var(--color--lighten)), 
                                    var(--opacity--base));

    --hue--secondary: 46;
    --saturation--secondary: 61%;
    --lightness--secondary: 89%;
    --color--secondary: hsla(var(--hue--secondary), var(--saturation--secondary), var(--lightness--secondary), var(--opacity--base));
    --color--secondary--active: hsla(var(--hue--secondary), 
                                var(--saturation--secondary), 
                                calc(var(--lightness--secondary) + var(--color--lighten)), 
                                var(--opacity--base));

    --hue--error: 360;
    --hue--success: 130;
    --hue--information: 230;
    --color--disabled: hsla(var(--hue--information), 0, calc(var(--lightness--base) - var(--color--darken)), var(--opacity--base));
    --color--information: hsla(var(--hue--information), var(--saturation--base), var(--lightness--base), var(--opacity--base));
    --color--success: hsla(var(--hue--success), var(--saturation--base), var(--lightness--base), var(--opacity--base));
    --color--error: hsla(var(--hue--error), var(--saturation--base), var(--lightness--base), var(--opacity--base)); 

    --background-color: var(--color--secondary);

    --spacing__ratio: 1.414;
    --spacing__ratio--desktop: 1.618;
    --space--base: 0.5rem;
    --space--xs: var(--space--base);
    --space--s: calc(var(--space--xs) * var(--spacing__ratio));
    --space--m: calc(var(--space--s) * var(--spacing__ratio));
    --space--l: calc(var(--space--m) * var(--spacing__ratio));
    --space--xl: calc(var(--space--l) * var(--spacing__ratio));
    
    --font-size__ratio: 1.20;
    --font-size__ratio--desktop: 1.333;
    --font-size--base: 1.8rem;
    --font-size--h4: calc(var(--font-size--base) * var(--font-size__ratio));
    --font-size--h3: calc(var(--font-size--h4) * var(--font-size__ratio));
    --font-size--h2: calc(var(--font-size--h3) * var(--font-size__ratio));
    --font-size--h1: calc(var(--font-size--h2) * var(--font-size__ratio));

    --input__height: 4rem;
    --input__border__width: 0.1rem;
    --input__border__style: solid;
    --input__border__color: var(--color--primary);
    --input__border: var(--input__border__width) var(--input__border__style) var(--input__border__color);
    --form-control__color: var(--color--secondary);
    --select__height: 3.4rem;
    --select--focus__color: var(--color--primary);
    --select__arrow__color: var(--input__border__color);
}

@media only screen and (min-width: 768px) {
    :root {
        --font-size__ratio: var(--font-size__ratio--desktop);
        --spacing__ratio: var(--spacing__ratio--desktop);
    }
}