.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color--secondary);
}

.section h2 {
    background-color: white;
    margin-block-start: 0.43em;
    margin-block-end: 0.43em;
    padding-left: var(--space--xl);
    padding-right: var(--space--xl);
}