.details,
.summary h2 {
    border-top-width: var(--button__border__width);
    border-color: black;
    border-style: double;
}

.details:last-of-type,
.summary h2 {
    border-bottom-width: var(--button__border__width);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right-width: 0rem;
    border-left-width: 0rem;
    border-bottom-width: 0rem;
    padding-bottom: var(--space--base);
    width: calc(100vw - var(--aside__summary__width) - var(--space--l));
}

.details:not([open]) .summary label {
    display: none;
}

.summary {
    cursor: pointer;
    padding-left: var(--space--xs);
    padding-right: var(--space--xs);
}

.summary div {
    width: inherit;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;

}

.summary::marker {
    font-size: var(--font-size--h2);
    color: currentColor;
    display: list-item;
}

.headingSummary {
    margin-block-start: 0.23em;
    margin-block-end: 0.23em;
    padding-left: var(--space--xl);
    padding-right: var(--space--xl);
    border-right-width: var(--button__border__width);
    border-left-width: var(--button__border__width);
    line-height: 1;
}
