.details,
.summary h2 {
    border-top-width: var(--button__border__width);
    border-color: black;
    border-style: double;
}

.details:last-of-type,
.summary h2 {
    border-bottom-width: var(--button__border__width);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color--secondary);
    border-right-width: 0rem;
    border-left-width: 0rem;
    border-bottom-width: 0rem;
    padding-bottom: var(--space--base);
}

.details:not([open]) .summary label {
    display: none;
}

.summary {
    cursor: pointer;
    padding-left: var(--space--xs);
    padding-right: var(--space--xs);
}

.summary div {
    width: calc(100% - var(--font-size--h2));
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

}

.summary::marker {
    font-size: var(--font-size--h2);
}

.summary h2 {
    background-color: white;
    margin-block-start: 0.23em;
    margin-block-end: 0;
    padding-top: var(--space--xs);
    padding-left: var(--space--xl);
    padding-right: var(--space--xl);
    border-right-width: var(--button__border__width);
    border-left-width: var(--button__border__width);
    line-height: 1;
}
