.aside {
    --aside__width: min(50rem, 100vw);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: var(--space--m);
    width: var(--aside__width);
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    overflow-y: scroll;
}

.aside.expanded {
    bottom: 0;
}

.list {
    margin-block-start: 0;
    padding-inline-start: 0;
}

.listItem {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* border: 0.1rem solid currentColor; */
    padding-top: var(--space--s);
    padding-right: var(--space--s);
    padding-left: var(--space--s);
}

.listItem input {
    width: 6rem;
}