.carousel {
    display: flex;
    width: 100%;
}

.carousel__list {
    width: inherit;
    display: flex;
    align-items: flex-start;
    margin-block-start: 0;
    margin-block-end: 0;
}

.carousel__list.open {
    flex-wrap: wrap;
}

.carousel__list li::marker {
    display: none;
}