:root {
    --svg__button__width: 15rem;
    --svg__button__height: 10rem;
}

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1rem;
  border-color: brown;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

#bottle__path {
    stroke: black;
    stroke-width: 0.3rem;
}

.storybook-button--primary:hover #bottle__path {
    transform: rotateZ(20deg) translateX(20%) translateY(-20%) ;
}

.svg__button {
    width: var(--svg__button__width);
    height: var(--svg__button__height);
    margin-top: 1rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.svg__button__label {
    fill: black;
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 18px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 24px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 86px; /*change to 3 times smaller when svg size will be adjusted */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 0rem;
}


