:root {
    --svg__button__width: 8rem;
    --svg__button__height: 10rem;
}

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 1rem;
  border-color: brown;
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.storybook-button--primary:hover #bottle__path {
    transform: translate3d(30%, -30%, 10%);
}

.svg__button {
    width: var(--svg__button__width);
    height: var(--svg__button__height);
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 18px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 24px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 32px;
  padding: 12px 24px;
}
