.header {
    padding-top: var(--space--s);
    padding-bottom: var(--space--s);
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigationList {
    display: flex;
}

.navigationList li {
    list-style: none;
}

.navigationList li:not(:last-of-type) {
    margin-right: var(--space--m);
}